<link rel="stylesheet" type="text/css" href="/css/addproduct.css">
<style>
    body {
        background-color: grey;
    }
</style>

<body class="login-page sidebar-collapse">
    <div class="page-header header-filter"
        style="background-image: url('/img/background4.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="card card-login">
                    <form class="form" method="post" action="/admin/addproducts">
                        <h2 class="card-title text-center">Add Products</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" style="font-size:24px">email</i>
                                            </span>
                                        </div>
                                        <input type="name" id="name" name="name" class="form-control"
                                            placeholder="Product Name..">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="text" id="price" name="price" class="form-control"
                                            placeholder="Price...">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" style="font-size:24px">email</i>
                                            </span>
                                        </div>
                                        <input type="description" id="description" name="description"
                                            class="form-control" placeholder="Description...">
                                    </div>
                                    <div class="input-group">
                                        <div class="try-select" style="width:200px;">
                                            <select>
                                                <option value="0">Select car:</option>
                                                <option value="1">Audi</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Citroen</option>
                                                <option value="4">Ford</option>
                                                <option value="5">Honda</option>
                                                <option value="6">Jaguar</option>
                                                <option value="7">Land Rover</option>
                                                <option value="8">Mercedes</option>
                                                <option value="9">Mini</option>
                                                <option value="10">Nissan</option>
                                                <option value="11">Toyota</option>
                                                <option value="12">Volvo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <input type="file" id="posterUpload" name="posterUpload"
                                        accept="image/png,image/jpeg,image/jpg,image/gif">
                                    <img id="poster" src="/img/no-image.jpg" alt=""
                                        class="border img-thumbnail img-fluid" style="height:95%;width:100%">
                                    <input id="images" type="hidden" name="images">
                                    <div class="font-weight-bold text-danger small" id="posterErr" style="display:none">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-round">Create</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $('#posterUpload').on('change', function () {
        let image = $("#posterUpload")[0].files[0];
        let formdata = new FormData();
        formdata.append('posterUpload', image);
        $.ajax({
            url: '/admin/upload',
            type: 'POST',
            data: formdata,
            contentType: false,
            processData: false,
            'success': (data) => {
                $('#poster').attr('src', data.file);
                $('#images').attr('value', data.file);// sets posterURL hidden field
                if (data.err) {
                    $('#posterErr').show();
                    $('#posterErr').text(data.err.message);
                } else {
                    $('#posterErr').hide();
                }
            }
        });
    });
</script>