<link rel="stylesheet" type="text/css" href="/css/editproduct.css">
<style>
    body {
        background-color: grey;
    }
</style>

<body class="login-page sidebar-collapse">
    <div class="page-header header-filter"
        style="background-image: url('/img/background4.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="card card-login">
                    <form action="/admin/saveEditedVideo/{{shop.id}}" method="post">
                        <input type="hidden" name="_method" value="PUT">
                        <h2 class="card-title text-center">Edit Products</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" style="font-size:24px">email</i>
                                            </span>
                                        </div>
                                        <input type="name" id="name" name="name" class="form-control"
                                            value="{{shop.name}}">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="text" id="price" name="price" class="form-control"
                                            value="{{shop.price}}">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" style="font-size:24px">email</i>
                                            </span>
                                        </div>
                                        <input type="description" id="description" name="description"
                                            class="form-control" value="{{shop.description}}">
                                    </div>
                                    <div class="input-group">
                                        <div class="try-select" style="width:200px;">
                                            <select>
                                                <option value="0">Select category:</option>
                                                <option value="1">Fruits</option>
                                                <option value="2">Herbs</option>
                                                <option value="3">Vegetables</option>
                                                <option value="4">Milk</option>
                                                <option value="5">Yogurt</option>
                                                <option value="6">Butter</option>
                                                <option value="7">Cheese</option>
                                                <option value="8">Juice</option>
                                                <option value="9">Soy</option>
                                                <option value="10">Tea</option>
                                                <option value="11">Chicken</option>
                                                <option value="12">Pork</option>
                                                <option value="13">Beef</option>
                                                <option value="14">Fish</option>
                                                <option value="15">Personal</option>
                                                <option value="16">Healing</option>
                                                <option value="17">Supplements</option>
                                                <option value="18">Crackers</option>
                                                <option value="19">Nuts</option>
                                                <option value="20">Candy</option>
                                                <option value="21">Energy Bar</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <input type="file" id="posterUpload" name="posterUpload"
                                        accept="image/png,image/jpeg,image/jpg,image/gif">
                                    <img id="poster" src="/img/no-image.jpg" alt=""
                                        class="border img-thumbnail img-fluid" style="height:95%;width:100%">
                                    <input id="images" type="hidden" name="images">
                                    <div class="font-weight-bold text-danger small" id="posterErr" style="display:none">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="butAddVideo" type="submit" class="btn btn-primary">Save
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $('#posterUpload').on('change', function () {
        let image = $("#posterUpload")[0].files[0];
        let formdata = new FormData();
        formdata.append('posterUpload', image);
        $.ajax({
            url: '/admin/upload',
            type: 'POST',
            data: formdata,
            contentType: false,
            processData: false,
            'success': (data) => {
                $('#poster').attr('src', data.file);
                $('#images').attr('value', data.file);// sets posterURL hidden field
                if (data.err) {
                    $('#posterErr').show();
                    $('#posterErr').text(data.err.message);
                } else {
                    $('#posterErr').hide();
                }
            }
        });
    });
</script>