<nav class="navbar navbar-expand-lg bg-white fixed-top" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a href="/"><img class="navbar-brand logo" src="/img/logo2.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {{#if user.isAdmin}}
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="/shop" class="dropdown-toggle nav-link" data-toggle="dropdown">
                       Shop
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="admin/addproducts" class="dropdown-item">
                            <i class="material-icons">&#128221;</i> Create Products
                        </a>
                        <a href="/category" class="dropdown-item">
                            <i class="material-icons">&#xe416;</i> Show Products
                        </a>
                        <a href="/create" class="dropdown-item">
                            <i class="material-icons">&#xe416;</i> Create Products
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="/shop" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        Quiz
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="/admin/admin-quiz" class="dropdown-item">
                            <i class="material-icons">&#128221;</i> Create Quiz
                        </a>
                        <a href="/admin/listquiz" class="dropdown-item">
                            <i class="material-icons">&#xe416;</i> Show Quiz
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="/shop" class="dropdown-toggle nav-link" data-toggle="dropdown">
                         FAQ
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="admin/faqform" class="dropdown-item">
                            <i class="material-icons">&#128221;</i> Create FAQ
                        </a>
                        <a href="/faq" class="dropdown-item">
                            <i class="material-icons">&#xe416;</i> Show FAQ
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        About
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> {{user.name}}
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="/password" class="dropdown-item">
                            <i class="material-icons">&#128274;</i> Change Password
                        </a>
                        <a href="/logout" class="dropdown-item">
                            <i class="material-icons">&#xe879;</i> Logout
                        </a>
                    </div>
                </li>
                {{else}}
                {{#if user.isNotAdmin}}
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quiz">
                        Quiz
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">
                        FAQ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        About
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> {{user.name}}
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="/profile" class="dropdown-item">
                            <i class="material-icons">&#128100;</i> Profile
                        </a>
                        <a href="/password" class="dropdown-item">
                            <i class="material-icons">&#128274;</i> Change Password
                        </a>
                        <a href="/logout" class="dropdown-item">
                            <i class="material-icons">&#xe879;</i> Logout
                        </a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">
                        FAQ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        About

                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success btn-round" href="/Login">
                        Login
                    </a>
                </li>
                {{/if}}
                {{/if}}
            </ul>
        </div>
    </div>
</nav>