.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 28px;
  cursor: pointer;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 57px;
  left: 377px;
  height: 24px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

 #Step2 {
  margin: 8px;
  margin-top: 162px;
  position: absolute;
  font-size: 24px;
}
#hr {
	top: 204px;
    position: sticky;
}
 
 input[type="button"] {
	clear: both;
    text-align: center;
    width: 7%;
    height: 2em;
    margin-top: 166px;
    border-radius: 20px;
    position: absolute;
	margin-left: 467px;
}
legend {
	background-color:green;
	color:white;
	font-weight:900;
	border-style: rounded 3px;
	padding:5px;
	margin:20px;
	box-shadow:2px 2px 2px 3px green;
	text-align: center;
	position: absolute;
    margin: 57px;
    margin-left: -558px;
}
fieldset {
	padding-top:5%;
	padding-bottom:5%;
	padding-left:15%;
	padding-right:15%;
	margin:20px;
	
	background-image: url("formbackground.jpg");
	border:none;
}

body {
	background-image: url("foodbackground.jpg");
	background-color: #cccc;
	background-repeat: no-repeat;
	background-size: 1538px;
}

form {
	margin:0 auto; 
	width:40%;	
	
}

#SS {
	font-size: 20px;
	margin-top: 188px;
    position: absolute;
    margin-left: -537px;
}

#PS {
	 font-size: 20px;
	 margin-top: 224px;
	 position: absolute;
	     margin-left: -536px;
}

#ISAS {
	font-size: 20px;
	 margin-top: 264px;
	 position: absolute;
	     margin-left: -536px;
}

#FSP  {
	font-size: 20px;
	 margin-top: 247px;
	 position: absolute;
	 margin-left: -536px;
}

#SPrice {
	font-size: 20px;
    margin-top: 153px;
    position: absolute;
    margin-left: -40px;
}
#PPrice {
	font-size: 20px;
    margin-top: 190px;
    position: absolute;
    margin-left: -40px;
}
#ISPrice {
	font-size: 20px;
    margin-top: 229px;
    position: absolute;
    margin-left: -40px;
}

#FPrice {
	font-size: 20px;
    margin-top: 264px;
    position: absolute;
    margin-left: -40px;
}