<body class="login-page sidebar-collapse">
    <div class="page-header header-filter" style="background-color: lightgrey">
        <div class="container">
            <div class="row"></div>
            <div class="card card-login">
                <form class="form" action="/user/savePassword/{{user.id}}?_method=PUT" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <h2 class="card-title text-center">Change Password</h2>
                    <div class="card-body">
                        <div class="row" style='margin-left: 250px'>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons" style="font-size:24px">extension</i>
                                        </span>
                                    </div>
                                    <input type="text" id="password" name="password" class="form-control"
                                        placeholder="Enter new password">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">extension</i>
                                        </span>
                                    </div>
                                    <input type="text" id="cpassword" name="cpassword" class="form-control"
                                        placeholder="Re-enter new password">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-round">Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>