<link rel="stylesheet" type="text/css" href="/css/cart.css">

<div class="topnav top"">
    <!-- <a class=" active" href="#home">Search</a> -->
    <input type="text" placeholder="Search..">
    <a href="/cart"><i class="material-icons">&#xe8cc;</i> Cart</a>
</div>

<!-- Sidebar -->
<div class="sidenav">
    <button class="dropdown-btn">Organic Fresh Produce
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="/fruits">Fruits</a>
        <a href="#">Herbs & Spices</a>
        <a href="#">Vegetables</a>
    </div>
    <button class="dropdown-btn">Dairy
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Milk</a>
        <a href="#">Yogurt</a>
        <a href="#">Butter</a>
        <a href="#">Cheese</a>
    </div>
    <button class="dropdown-btn">Beverages
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Juice</a>
        <a href="#">Grain, Nut & Soy Milk</a>
        <a href="#">Coffee & Tea</a>
    </div>
    <button class="dropdown-btn">Frozen Food
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Chicken</a>
        <a href="#">Pork</a>
        <a href="#">Beef</a>
        <a href="#">Fish</a>
    </div>
    <button class="dropdown-btn">Health & Beauty
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Personal Care</a>
        <a href="#">Healing</a>
        <a href="#">Supplements</a>
    </div>
    <button class="dropdown-btn">Snacks
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Crackers & Biscuits</a>
        <a href="#">Seeds & Nuts</a>
        <a href="#">Candy</a>
        <a href="#">Energy Bar</a>
    </div>
</div>

<div class="main">
    <h2>Shopping Cart</h2>

    <div class="shopping-cart">

        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
            <label class="product-removal">Remove</label>
            <label class="product-line-price">Total</label>
        </div>

        <div class="product">
            <div class="product-image">
                <img src="/img/fruitsavocado.jpg">
            </div>
            <div class="product-details">
                <div class="product-title">Avocado</div>
                <p class="product-description">Australian Avocados. Get your mouth watery for these tasty and creamy
                    delicious goodness.</p>
            </div>
            <div class="product-price">12.99</div>
            <div class="product-quantity">
                <input type="number" value="2" min="1">
            </div>
            <div class="product-removal">
                <button class="remove-product">
                    Remove
                </button>
            </div>
            <div class="product-line-price">25.98</div>
        </div>

        <div class="product">
            <div class="product-image">
                <img src="/img/fruitsapple.jpg">
            </div>
            <div class="product-details">
                <div class="product-title">Apple</div>
                <p class="product-description">Juicy, pinkish, heavenly bite of USA GRAND Apples.</p>
            </div>
            <div class="product-price">45.99</div>
            <div class="product-quantity">
                <input type="number" value="1" min="1">
            </div>
            <div class="product-removal">
                <button class="remove-product">
                    Remove
                </button>
            </div>
            <div class="product-line-price">45.99</div>
        </div>

        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">71.97</div>
            </div>
            <div class="totals-item">
                <label>Tax (5%)</label>
                <div class="totals-value" id="cart-tax">3.60</div>
            </div>
            <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping">15.00</div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">90.57</div>
            </div>
        </div>

        <button class="checkout">Checkout</button>

    </div>
</div>

<script>
    /* Set rates + misc */
    var taxRate = 0.05;
    var shippingRate = 15.00;
    var fadeTime = 300;


    /* Assign actions */
    $('.product-quantity input').change(function () {
        updateQuantity(this);
    });

    $('.product-removal button').click(function () {
        removeItem(this);
    });


    /* Recalculate cart */
    function recalculateCart() {
        var subtotal = 0;

        /* Sum up row totals */
        $('.product').each(function () {
            subtotal += parseFloat($(this).children('.product-line-price').text());
        });

        /* Calculate totals */
        var tax = subtotal * taxRate;
        var shipping = (subtotal > 0 ? shippingRate : 0);
        var total = subtotal + tax + shipping;

        /* Update totals display */
        $('.totals-value').fadeOut(fadeTime, function () {
            $('#cart-subtotal').html(subtotal.toFixed(2));
            $('#cart-tax').html(tax.toFixed(2));
            $('#cart-shipping').html(shipping.toFixed(2));
            $('#cart-total').html(total.toFixed(2));
            if (total == 0) {
                $('.checkout').fadeOut(fadeTime);
            } else {
                $('.checkout').fadeIn(fadeTime);
            }
            $('.totals-value').fadeIn(fadeTime);
        });
    }


    /* Update quantity */
    function updateQuantity(quantityInput) {
        /* Calculate line price */
        var productRow = $(quantityInput).parent().parent();
        var price = parseFloat(productRow.children('.product-price').text());
        var quantity = $(quantityInput).val();
        var linePrice = price * quantity;

        /* Update line price display and recalc cart totals */
        productRow.children('.product-line-price').each(function () {
            $(this).fadeOut(fadeTime, function () {
                $(this).text(linePrice.toFixed(2));
                recalculateCart();
                $(this).fadeIn(fadeTime);
            });
        });
    }


    /* Remove item from cart */
    function removeItem(removeButton) {
        /* Remove row from DOM and recalc cart total */
        var productRow = $(removeButton).parent().parent();
        productRow.slideUp(fadeTime, function () {
            productRow.remove();
            recalculateCart();
        });
    }
</script>