<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->

<head>
    <style>
        body {
            margin-top: 150px;
        }
        label{
            font-size: 25px;
            color: black;
        }
        h3{
            font-weight: bold;
            font-size: 30px
        }
    </style>
</head>

<div class="container">
    <div class="card card-body mx-auto">
        <h3>Product Name</h3>
        <div class="row mb-2">
            <div class="col-lg-9">
                <div class="form-group">
                    <label for="price">Price: ${{price}}</label>
                </div>
                <div class="form-group">
                    <label for="story">Description:</label>
                    <textarea class="form-control" id="desc" name="desc" rows="6" disabled>{{desc}}</textarea>
                </div>
                <div class="form-group">
                    <label for="avg">Avg Ratings: {{ratings}}</label>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <img id="img" src="{{image}}" alt="" class="border img-thumbnail img-fluid"
                    style="height:95%;width:100%">
            </div>
        </div>
        <hr>
        <form action="#" method="post">
        <div class="form-group">
            <div class="row mb-2 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <label>Ratings</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Ratings" id="1" value="1">
                        <label class="form-check-label" for="1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Ratings" id="2" value="2">
                        <label class="form-check-label" for="2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Ratings" id="3" value="3">
                        <label class="form-check-label" for="3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Ratings" id="4" value="3">
                        <label class="form-check-label" for="4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Ratings" id="5" value="5">
                        <label class="form-check-label" for="5">5</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <label>Comment: </label>
                    <br>
                    <textarea id="comment" name="comment" rows='3'></textarea>
                </div>
            </div>
        </div>

        <br>
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>
        <input id="butAddVideo" class="btn btn-outline-primary" type="submit" value="Post">
        </form>
    </div>
</div>