<link rel="stylesheet" type="text/css" href="/css/shop.css">

<div class="topnav">
    <a class="active" href="#home">Search</a>
    <a href="#cart"><i class="material-icons">&#xe8cc;</i> Cart</a>
</div>

<!-- Sidebar -->
<div class="sidenav">
    <a href="#">Organic Fresh Produce</a>
    <a href="#">Diary</a>
    <a href="#">Beverages</a>
    <a href="#">Frozen Meat</a>
    <a href="#">Health & Beauty</a>
</div>

<div class="main">
    <h2>Hey</h2>
</div>