<link rel="stylesheet" type="text/css" href="/css/shopcategory.css">
{{>_shopnavbar}}
{{#if shop}}
<div class="items">
    {{#each shop}}
    <div class="card">
        <img src="/img/fruitsapple.jpg" alt="Denim Jeans" style="width:100%;height:100%;">
        <h1>{{name}}</h1>
        <p class="price">{{price}}</p>
        <p>{{description}}</p>
        <p><button>Add to Cart</button></p>
    </div>
    {{/each}}
</div>
{{else}}
<h3>No videos jotted</h3>
{{/if}}