<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Store ChKOut</title>

    <link rel="stylesheet" type="text/css" href="Checkout1.css" />
</head>

<body>
    <p id="Step1"> Step 1: Shipping Address </p>
    <hr id="hr">
    <form action="Checkout2.html" method="post">
        <fieldset id="particular">
            <legend>Checkout</legend>

            <p id="Ftext"> First name: </p><br>
            <input type="text" id="Fstname" name="Fname" placeholder="Your First Name" required />

            <p id="Ltext"> Last name: </p><br>
            <input type="text" id="Lstname" name="Lname" placeholder="Your Last Name" required />

            <p id="Etext"> Email: </p><br>
            <input type="email" id="email" name="email" placeholder="Email Address" required />

            <p id="Atext"> Address: </p><br>
            <input type="text" id="address" name="address" placeholder="Address" required />

            <p id="PNum"> Phone number: </p><br>
            <input type="number" id="phonenumber" name="phonenumber" placeholder="Phone Number" required />

            <p id="Ctext"> City: </p><br>
            <input type="text" id="city" name="city" placeholder="City" required />

            <p id="Stext"> State: </p><br>
            <input type="text" id="state" name="state" placeholder="State" required />

            <p id="Ztext"> Zip: </p><br>
            <input type="number" id="zip" name="zip" placeholder="ZIP" required />

            <br>



        </fieldset>
        <a href="Checkout2.html">
            <input type="button" value="continue"> </input>
    </form>
</body>

</html>