<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Store ChKOut</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="Checkout2.css" />
</head>

<body>
  <p id="Step2"> Step 2: Shipping Method </p>
  <hr id="hr">
  <form action="Checkout3.html" method="post">
    <fieldset id="particular">
      <legend>Checkout</legend>

      <p id="SS"> standard shipping </p>
      <br>
      <p id="PS"> Priority shipping </p>
      <br>
      <p id="ISAS"> International standard air shipping</p>

      <p id="SPrice"> $17.95 </p>
      <br>
      <p id="PPrice"> $25.00 </p>
      <br>
      <p id="ISPrice"> $30.00 </p>
      <br>
      <p id="FPrice"> $0.00 </p>
      <br>
      <p id="FSP"> Free pickup in store </p>
      <label class="container">
        <input type="checkbox" name="Shipping1" value="Standard Shipping" class="subject-list"> <br>
        <span class="checkmark"></span>
      </label>

      <label class="container">
        <input type="checkbox" name="Shipping2" value="Priorty Shipping" class="subject-list"><br>
        <span class="checkmark"></span>
      </label>

      <label class="container">
        <input type="checkbox" name="Shipping3" value="International Standard Air Shipping" class="subject-list"><br>
        <span class="checkmark"></span>
      </label>

      <label class="container">
        <input type="checkbox" name="Shipping4" value="Free Pickup" class="subject-list">
        <span class="checkmark"></span>
      </label>
  </form>
  <br>
  </fieldset>

  <script type="text/javascript">
    $('.subject-list').on('change', function () {
      $('.subject-list').not(this).prop('checked', false);
    });
  </script>

  <a href="Checkout3.html">
    <input type="button" value="continue"> </input>
  </a>
  </form>
</body>

</html>