<link rel="stylesheet" type="text/css" href="/css/Reciept.css">
<legend>Checkout</legend>


          <div class="col-25">
    <div class="containers">
      <h4>summary        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i> 
          <b>1</b>
        </span>
      </h4>
      <p><a href="#">name on card </a> <span class="price" value="{{NameOnC}}" > tia pooja </span></p>
      <p><a href="#">Card number</a><span class = "price" value = "{{CardNumber}}"> xxxxxxxxxxx</span></p>
      <p><a href="#">Address</a><span class = "price" value = "{{ADD}}"> 116c rivervale drive</span></p>
      <p><a href="#">Quantity</a> <span class="price">1</span></p>
      <p><a href="#">milk</a> <span class="price">$8</span></p>
      <p><a href="#">shipping</a> <span class="price">$3.59</span></p>
      <p>Thank you for shopping with us. A link for tracking your order will be sent to your email</p>
      
      <hr>
      <p>Total <span class="price" style="color:black"><b>$11.59</b></span></p>
    </div>
  </div>
</div>
    </form>

    <a href="/category" class="checkout">Checkout</button>

</div>


