<link rel="stylesheet" type="text/css" href="/css/Reciept.css">
<legend>Checkout</legend>


          <div class="col-25">
    <div class="containers">
      <h4>Cart 
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i> 
          <b>4</b>
        </span>
      </h4>
      <p><a href="#">name on card </a> <span class="price">{{NameOnC}}</span></p>
      <p><a href="#">Product 2</a> <span class="price">$5</span></p>
      <p><a href="#">Product 3</a> <span class="price">$8</span></p>
      <p><a href="#">Product 4</a> <span class="price">$2</span></p>
      <p><a href="#">Product 5</a><span class = "price">$0</span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
    </div>
  </div>
</div>
    </form>

    <a href="/category" class="checkout">Checkout</button>

</div>


