<style>
    .card .form-check {
        padding-left: 10px;
        margin-bottom: 0px;
        left: 134px;
    }

    .card-title {
        color: white;
        bottom: 71px;
        position: relative;
    }

    .form-group {
        left: 138px;
        top: 20px;
    }

    .b {
        width: 70%;
    }

    .c {
        top: 20px;
    }
</style>

<body class="login-page sidebar-collapse">
    <div class="page-header header-filter"
        style="background-image: url('/img/signup.jpeg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row2">
                <div class="col-lg-10 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" method="post" action="/feedback">
                            <h2 class="card-title text-center">Contact Us</h2>
                        
                            <div class="form-group">
                                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                                <textarea type="email" class="form-control b" rows="4" id="exampleMessage" name='message'></textarea>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    Anynonmous
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Name</label>
                                        <input type="text" class="form-control" name='name'>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email</label>
                                        <input type="email" class="form-control" name='email'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <button class="btn btn-primary btn-raised c">
                                        Send Message
                                    </button>
                                </div>
                            </div>


                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>